<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/xbmc-info/scripts/xbmc-8.10.bf1_update.sh</string>
		<key>URL</key>
		<string>http://downloads.sourceforge.net/xbmc/XBMC_for_Mac-8.10bf1.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>MD5</key>
		<string>7aa0420a02c6a778541dead2e883b532</string>
		<key>Name</key>
		<string>XBMC Atlantis (bf1)</string>
	</dict>
        <dict>
                <key>UpdateScript</key>
                <string>http://atv-xbmc-launcher.googlecode.com/svn/tags/boxee-info/scripts/alpha-0.9.7.4825_update.sh</string>
                <key>URL</key>
                <string>http://dl.boxee.tv/boxee-0.9.7.4825-atv.dmg</string>
                <key>Type</key>
                <string>Application</string>
                <key>Name</key>
                <string>Boxee alpha 0.9.7.4825</string>
                <key>MD5</key>
                <string>f370d0849e576514a7fd128b851964b5</string>
        </dict>
        <dict>
                <key>UpdateScript</key>
                <string>http://atv-xbmc-launcher.googlecode.com/svn/tags/boxee-info/scripts/alpha-0.9.9.5324_update.sh</string>
                <key>URL</key>
                <string>http://dl.boxee.tv/boxee-0.9.9.5324.dmg</string>
                <key>Type</key>
                <string>Application</string>
                <key>Name</key>
                <string>boxee (0.9.9.5324 - in testing)</string>
                <key>MD5</key>
                <string>72e2fbdeee53a40e8935098361d25269</string>
        </dict>
	<dict>
		<key>Name</key>
		<string>Launcher 2.3</string>
		<key>Type</key>
		<string>Combo</string>
		<key>URL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/Launcher-2.3.run</string>
		<key>MD5</key>
		<string>1c241278e3051bedfd79b3de62b0a809</string>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/xbmc-info/scripts/launcher-update-2.3.sh</string>
	</dict>
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/xbmc-info/scripts/multifinder_downgrade.sh</string>
		<key>URL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/Launcher-0.9-debug.run</string>
		<key>MD5</key>
		<string>480edcf8d9fcd7754bace2502cf928e0</string>		
		<key>Type</key>
		<string>Downgrade</string>
		<key>Name</key>
		<string>Remove MultiFinder</string>
	</dict>
	</array>
</plist>
