<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/ul-info/scripts/xbmc-10.1_update.sh</string>
		<key>URL</key>
		<string>http://mirrors.xbmc.org/releases/osx/xbmc-10.1.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>MD5</key>
		<string>987ecb1c1c69fb94d93fbe20815d54c2</string>
		<key>Name</key>
		<string>XBMC 10.1 - Dharma</string>
	</dict>
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/ul-info/scripts/xbmc-11.0_update.sh</string>
		<key>URL</key>
		<string>http://mirrors.xbmc.org/releases/osx/xbmc-11.0-Eden_rc2-x86.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>MD5</key>
		<string>eefc5655743213a6dcfeda70d6de468e</string>
		<key>Name</key>
		<string>XBMC 11.0 - Eden - RC 2</string>
	</dict>	
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/boxee-info/scripts/boxee.sh</string>
		<key>URL</key>
		<string>http://dl.boxee.tv/boxee-0.9.22.13692.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>Name</key>
		<string>Boxee beta 0.9.22.13692</string>
		<key>MD5</key>
		<string>a8e14070db266d7afd504dc88630308c</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Launcher 3.2.5</string>
		<key>Type</key>
		<string>Launcher</string>
		<key>URL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/Launcher-3.2.5-debug.run</string>
		<key>MD5</key>
		<string>ba3e92c5257be51b49195515a71b666e</string>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/ul-info/scripts/launcher-update-3.2.sh</string>
	</dict>
</array>
</plist>
