<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/xbmc-info/scripts/xbmc-8.10.bf1_update.sh</string>
		<key>URL</key>
		<string>http://downloads.sourceforge.net/xbmc/XBMC_for_Mac-8.10bf1.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>MD5</key>
		<string>7aa0420a02c6a778541dead2e883b532</string>
		<key>Name</key>
		<string>XBMC Atlantis (bf1)</string>
	</dict>
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/xbmc-info/scripts/xbmc-9.04.alpha1_update.sh</string>
		<key>URL</key>
		<string>http://downloads.sourceforge.net/xbmc/XBMC_for_Mac-Babylon-Alpha1.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>MD5</key>
		<string>d96d4b43685a1c2d8ecd5838675d9fb3</string>
		<key>Name</key>
		<string>XBMC Babylon (alpha1)</string>
	</dict>
        <dict>
                <key>UpdateScript</key>
                <string>http://atv-xbmc-launcher.googlecode.com/svn/tags/boxee-info/scripts/alpha-0.9.11.5591_update.sh</string>
                <key>URL</key>
                <string>http://dl.boxee.tv/boxee-0.9.11.5591.dmg</string>
                <key>Type</key>
                <string>Application</string>
                <key>Name</key>
                <string>Boxee alpha 0.9.11.5591</string>
                <key>MD5</key>
                <string>0dbe534ee4162b4e62f660d65f868628</string>
        </dict>
	<dict>
		<key>Name</key>
		<string>Launcher 3.0</string>
		<key>Type</key>
		<string>Launcher</string>
		<key>URL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/Launcher-3.0-debug.run</string>
		<key>MD5</key>
		<string>e858cb2e1797cf5c2295303ed1fd47ed</string>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/ul-info/scripts/launcher-update-3.0.sh</string>
	</dict>
	</array>
</plist>
