<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XBMC</key>
	<dict>
		<key>theURL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/Launcher-3.0-debug.tar.gz</string>
		<key>name</key>
		<string>XBMCLauncher</string>
		<key>md5</key>
		<string>e858cb2e1797cf5c2295303ed1fd47ed</string>
		<key>Version</key>
		<string>3.0</string>
		<key>thelicense</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/trunk/xbmclauncher/LICENSE.txt</string>
		<key>theDesc</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/SoftwareMenu/Description.txt</string>
	</dict>
</dict>
</plist>
