<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XBMC</key>
	<dict>		
		<key>DisplayName</key>
		<string>Launcher</string>
		<key>ShortDescription</key>
		<string>Launcher is a plugin that allows installation and launching of XBMC and Boxee</string>
		<key>name</key>
		<string>XBMCLauncher</string>
		<key>Developer</key>
		<string>TeamXBMC</string>
		<key>ImageURL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/SoftwareMenu/alternate_1_logo_small.png</string>
		<key>desc</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/SoftwareMenu/Description.txt</string>
		<key>license</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/trunk/xbmclauncher/LICENSE.txt</string>
		<key>Version</key>
		<string>3.2.4</string>
		<key>displayVersion</key>
		<string>3.2.5</string>
		<key>ReleaseDate</key>
		<date>2010-02-21T17:00:00Z</date>
		<key>URL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/Launcher-3.2.4-debug.tar.gz</string>
		<key>md5</key>
		<string>87173f2c45cbaf91b069d106ffb233d8</string>
		<key>osMin</key>
		<string>2.0</string>
		<key>osMax</key>
		<string>3.0.2</string>
	</dict>
</dict>
</plist>
