<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XBMC</key>
	<dict>
		<key>theURL</key>
		<string>http://atv-xbmc-launcher.googlecode.com/files/XBMCLauncher-0.5-debug.tar.gz</string>
		<key>name</key>
		<string>XBMCLauncher</string>
		<key>md5</key>
		<string>a11a1837f8f279fd6faf39c142f099cb</string>
		<key>Version</key>
		<string>0.5</string>
	</dict>
</dict>
</plist>
