<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UpdateScript</key>
		<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/ul-info/additional-scripts/FlashInstaller.sh</string>
		<key>URL</key>
		<string>http://download.macromedia.com/pub/labs/flashplayer10/flashplayer10_1_p2_mac_121709.dmg</string>
		<key>Type</key>
		<string>Application</string>
		<key>MD5</key>
		<string>c56fa49da09df121d64b63f7a66e838a</string>
		<key>Name</key>
		<string>Flash 10.1.51.66</string>
	</dict>
</array>
</plist>