<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATVPluginShortName</key>
	<string>XBMC/Boxee</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.frontrow.appliance.org.xbmc.xbmclauncher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XBMCLauncher</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${APP_VERSION}</string>
	<key>NSPrincipalClass</key>
	<string>XBMCAppliance</string>
	<key>FRApplianceCategoryDescriptors</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>XBMC</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>XBMC</string>
			<key>preferred-order</key>
			<real>1</real>
			<key>priority</key>
			<real>1</real>
			<key>entry-type</key>
			<integer>0</integer>
			<key>apppath</key>
			<string>/Applications/XBMC.app/Contents/MacOS/XBMC</string>
			<key>helperpath</key>
			<string>/Applications/XBMC.app/Contents/Resources/XBMC/XBMCHelper</string>
			<key>guisettingspath</key>
			<string>/XBMC/userdata/guisettings.xml</string>
			<key>LaunchAgentFileName</key>
			<string>org.xbmc.helper.plist</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Boxee</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Boxee</string>
			<key>preferred-order</key>
			<real>1</real>
			<key>priority</key>
			<real>1</real>
			<key>entry-type</key>
			<integer>0</integer>
			<key>apppath</key>
			<string>/Applications/Boxee.app/Contents/MacOS/Boxee</string>
			<key>helperpath</key>
			<string>/Applications/Boxee.app/Contents/Resources/Boxee/bin/boxeeservice</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Update</string>
			<key>is-network-dependent</key>
			<true/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Update</string>
			<key>preferred-order</key>
			<real>2</real>
			<key>priority</key>
			<real>1</real>
			<key>entry-type</key>
			<integer>1</integer>
			<key>URL</key>
			<string>http://atv-xbmc-launcher.googlecode.com/svn/tags/xbmc-info/update_urls.plist</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Settings</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Settings</string>
			<key>preferred-order</key>
			<real>3</real>
			<key>priority</key>
			<real>1</real>
			<key>entry-type</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>About</string>
			<key>is-network-dependent</key>
			<false/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>About</string>
			<key>preferred-order</key>
			<real>4</real>
			<key>priority</key>
			<real>1</real>
			<key>entry-type</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>FRApplianceIconHorizontalOffset</key>
	<real>-0.055</real>
	<key>FRApplianceIconReflectionOffset</key>
	<real>-0.21</real>
	<key>FRAppliancePreferedOrderValue</key>
	<real>0</real>
	<key>FRRemoteAppliance</key>
	<true/>
</dict>
</plist>
